<div class="high text-center">
    <div class="container">
        <div class="high__title">
            <h2>Productos destacados Cromatic</h2>
        </div>

        <div class="high__body">
            <div class="high__item">
                <div class="high__item--title">
                    <h4>Producto 1</h4>
                </div>

                <div class="high__item--body">
                    <a href="/servicios" class="hi__footer--link">
                        <img src="/img/high/tea-high-a.png" alt="" class="hi__body--img">
                    </a>

                    <p class="hi__body--txt">
                        <strong>Serum especial</strong> para el <strong>cuidado del cabello</strong> y del cuero
                        cabelludo.
                    </p>

                    <ul class="body__txt--stars d-flex">
                        <li class="stars__item">
                            <p class="icon-star"></p>
                        </li>
                        <li class="stars__item">
                            <p class="icon-star"></p>
                        </li>
                        <li class="stars__item">
                            <p class="icon-star"></p>
                        </li>
                        <li class="stars__item">
                            <p class="icon-star"></p>
                        </li>
                        <li class="stars__item">
                            <p class="icon-star-empty"></p>
                        </li>
                    </ul>

                    <p class="hi__body--price">
                        <strong class="body__price--after">$15000 COP</strong><br>
                        <strong class="body__price--before">$10000 COP</strong>
                    </p>

                </div>

                <div class="high__item--footer d-flex">
                    <div class="hi__footer--buttons">
                        <a href="/carrito" class="icon-cart-plus"></a>
                        <a href="/compra" class="buy__button">Comprar</a>
                    </div>
                </div>

            </div>

            <div class="high__item">
                <div class="high__item--title">
                    <h4>Producto 1</h4>
                </div>

                <div class="high__item--body">
                    <a href="/servicios" class="hi__footer--link">
                        <img src="/img/high/tea-high-b.png" alt="" class="hi__body--img">
                    </a>

                    <p class="hi__body--txt">
                        <strong>Serum especial</strong> para el <strong>cuidado del cabello</strong> y del cuero
                        cabelludo.
                    </p>

                    <ul class="body__txt--stars d-flex">
                        <li class="stars__item">
                            <p class="icon-star"></p>
                        </li>
                        <li class="stars__item">
                            <p class="icon-star"></p>
                        </li>
                        <li class="stars__item">
                            <p class="icon-star"></p>
                        </li>
                        <li class="stars__item">
                            <p class="icon-star"></p>
                        </li>
                        <li class="stars__item">
                            <p class="icon-star-empty"></p>
                        </li>
                    </ul>

                    <p class="hi__body--price">
                        <strong class="body__price--after">$15000 COP</strong><br>
                        <strong class="body__price--before">$10000 COP</strong>
                    </p>

                </div>

                <div class="high__item--footer d-flex">
                    <div class="hi__footer--buttons ">
                        <a href="/carrito" class="icon-cart-plus"></a>
                        <a href="/compra" class="buy__button">Comprar</a>
                    </div>
                </div>

            </div>

            <div class="high__item">
                <div class="high__item--title">
                    <h4>Producto 1</h4>
                </div>

                <div class="high__item--body">
                    <a href="/servicios" class="hi__footer--link">
                        <img src="/img/high/tea-high-c.png" alt="" class="hi__body--img">
                    </a>

                    <p class="hi__body--txt">
                        <strong>Serum especial</strong> para el <strong>cuidado del cabello</strong> y del cuero
                        cabelludo.
                    </p>

                    <ul class="body__txt--stars d-flex">
                        <li class="stars__item">
                            <p class="icon-star"></p>
                        </li>
                        <li class="stars__item">
                            <p class="icon-star"></p>
                        </li>
                        <li class="stars__item">
                            <p class="icon-star"></p>
                        </li>
                        <li class="stars__item">
                            <p class="icon-star"></p>
                        </li>
                        <li class="stars__item">
                            <p class="icon-star-empty"></p>
                        </li>
                    </ul>

                    <p class="hi__body--price">
                        <strong class="body__price--after">$15000 COP</strong><br>
                        <strong class="body__price--before">$10000 COP</strong>
                    </p>

                </div>

                <div class="high__item--footer d-flex">
                    <div class="hi__footer--buttons ">
                        <a href="/carrito" class="icon-cart-plus"></a>
                        <a href="/compra" class="buy__button">Comprar</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>