<div class="prod container">
    <div class="prod__title text-center">
        <h2 class="prod__title--txt">
            Productos Cromatic
        </h2>
        <h3 class="pprod__title--sub">
            Cosméticos de alta calidad a un clic
        </h3>
    </div>

    <div class="prod__search">
        <p class="search__intro text-center">
            <strong>¿Buscas algo en especial?</strong>
        </p>
        <form class="buscador d-flex">
            <input class="form-control me-2" type="search" placeholder="Pintalabios" aria-label="Search">
            <button class="btn btn-outline-danger icon-search-4" type="submit"></button>
        </form>
    </div>

    <div class="prod__body">
        <div class="ps__div">
            <div class="row prod__section">
                <div class="col-sm-6">
                    <div class="card">
                        <img src="/img/productos/acido-hialuronico.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ácido Hialurónico Afrodita</h5>
                            <p class="card-text">
                            <p class="pi__body--price">
                                <strong class="body__price--after">$15000 COP</strong><br>
                                <strong class="body__price--before">$10000 COP</strong>
                            </p>
                            </p>
                            <div class="prod__item--footer d-flex">
                                <div class="pi__footer--buttons">
                                    <a href="/carrito" class="icon-cart-plus"></a>
                                    <a href="/compra" class="buy__button">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>